<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node Js</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <h1>Welcome to the most awesome website on the net</h1>
    <h2>Here is your unique ID: <%= user_id %></h2>
    <p>Here are Your Hobbies!</p>

    <!-- map through hobbies -->
    <ul>
      <% hobby.forEach((hobby) => { %>
      <li><%= hobby %></li>
      <% }) %>
    </ul>

    <!-- display profiles from project obj -->
    <p>Your Profile</p>
    <ul>
      <li><%= profile.age %></li>
      <li><%= profile.job %></li>
      <li><%= profile.yearsOfExp %></li>
      <li><%= profile.stack %></li>
      <li><%= profile.dreamCountry %></li>
    </ul>

    <!-- display resume from project obj -->
    <p>Your Resume</p>
    <ul>
      <li><%= profile.resume.year1 %></li>
      <li><%= profile.resume.year2 %></li>
      <li><%= profile.resume.year3 %></li>
    </ul>
  </body>
</html>
